fastapi
uvicorn[standard]
celery
redis
sqlalchemy
pandas
numpy
scikit-learn
xgboost
python-dotenv
jinja2
shap
matplotlib
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
